/* Custom site-wide CSS */

/* This is the background for landpage*/

/* This is centering the form for login and sign in*/
.form-small {
  padding-right: 40px;
  padding-left: 40px;
}

.sign-out-background {
  height: 550px;
  background-color: beige;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.bowfolio-green {
  color:  #376551;
}

.landing-green-background {
  background-color: #294e3e;
  color: white;
  padding-top: 20px;
}

.landing-white-background {
  background-color: white;
  color: #376551;
  padding-top: 20px;
}

.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}
